{% extends 'base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
<script src= "{{ url_for('admin.static', filename = 'js/set_cookie.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('admin.static', filename = 'css/style.css') }}">
    <div class = "inter">
        <a id="home" href="/Authorization/Success_Authorization/">HOME</a>
        <a id="shop" href="/Shop/">SHOP</a>
        <a id="basket" href="/Basket/">CART</a>
        <a id="contacts" href="/Contacts/">CONTACTS</a>
        <a id = "admin" href="/AdminPage/">ADMIN</a>
    </div>

    {% for product in products %}

        <img  id = "product" src="{{ url_for('shop_app.static', filename = 'images/' + product.name + '.png') }}" alt="{{ product.name }}">
        <h1 id="emnist">ЄМНІСТЬ:</h1>
        <h1 id="product_name">{{ product.name }}</h1>
        <h2 class ="price" id = "{{product.id}}">{{ product.price }} грн</h2>
        <img id="availability" src="{{ url_for('shop_app.static', filename='images/availability.png') }}" alt="">
        <button class= "buy" id = "{{ product.id }}" onclick="incrementCounter()">Купити</button>
        <button id="gb" onclick="addCSS()">{{ product.description }}</button> 
        <button id="gb1" onclick="changeColor()">{{ product.gb }}</button>
        <button id="gb2">{{ product.gb1 }}</button>
        <h1 class = "discount" id = "discount">Знижка {{product.discount}}%</h1>
        <h1 class = "priceWithoutDiscount" >{{product.price}} грн</h1>
    
        <button class="edit">Edit Product</button>

        <form method="post">
            <button name = 'del' value= "{{ product.id }}">Delete product</button>
        </form>
    {% endfor %}
    <br>
    <form class= "form" method= "post" enctype= "multipart/form-data">

        <input type= "file" name= "image" accept= "image/*">   
        <input type= "text" name= "name" placeholder="Вкажіть назву">
        <input type= "number" name= "price" placeholder="Вкажіть ціну">
        <input type= "number" name= "discount" placeholder="Вкажіть знижку">
        <input type= "number" name= "count1" placeholder="Вкажіть кількість">
        <textarea name="description" id="" placeholder="Вкажіть опис"></textarea>

        <button type="submit">Підтвердити</button>
    </form>
    <br>

    {% endblock %}


