.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home_page {
    font-size: 100px;
}
#home {
    width: 177px;
    height: 44px;
    position: absolute;
    left: 34px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#name {
    position: absolute;
    right: 34px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#shop{
    position: absolute;
    width: 177px;
    height: 44px;
    left: 221px;
    top: 18px;
    font-size: 24px;
    color: black;

    text-decoration: none;
}

#basket {
    width: 177px;
    height: 44px;
    position: absolute;
    top: 18px;
    left: 408px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#contacts{
    position: absolute;
    width: 177px;
    height: 44px;
    left: 595px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#product_name {
    position: relative;
    margin-left: 400px;
    top: -270px;
    height: 0px;
}
h2 {
    position: relative;
    height:10px;
    margin-left: 364.5px;
    top: 122px;
    font-size: 32px;
}
#product{
    position: relative;
    margin-left: 74.5px;
    top: 70px;
    padding: 10px;

}
.buy {
    position: relative;
    top: -148px;
    left: 15px;
    width: 149px;
    height: 55px;
    background: #EFCB4A;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
} 


#gb {
    position: absolute;
    width: 75px;
    height: 30px;
    margin-top: 276.5px;
    left: 410px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: bolder;
}

#gb1 {
    position: absolute;
    width: 75px;
    height: 30px;
    margin-top: 276.5px;
    left: 530px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: bolder;
}
#gb2 {
    position: absolute;
    width: 75px;
    height: 30px;
    margin-top: 276.5px;
    left: 650px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: bolder;
}
#emnist {
    position: absolute;
    margin-top: 275px;
    left: 410px;
}

#availability {
    position: absolute;
    margin-top: 276.5px;
    left: 1097.5px;
}


#counter {
    color: white;
}
#first {
    position: absolute;
    top:3px;
    right: 26.5px;
    font-size: 24px;
    font-weight: bold;
}
.inter{
    font-family: 'Inter', sans-serif;
}

#discount {
    position: relative;
    top: -284px;
    font-size: 20px;
    left: 400px;
    font-weight: 700;
}
.priceWithoutDiscount {
    position: relative; 
    left: 400px; 
    top: -350px;    
    font-size: 22px;
    font-weight: bold;
}
.price {
    position: relative;
    margin-left: 400px;
    top: 135px;

}

#pensilForImage {
    position: relative;
    top: -190px;
    /* left: 343.18px; */
}
#pensilForName {
    position: relative;
    top: -425px;
    left:1192.5px;
}
#pensilForPrice {
    position: relative;
    top: -395px;
    left: 585.68px;
    width: 25px;
    height: 25px;
}
#pensilForDiscount {
    position: relative;
    top: -370px;
    left: 557px;
    width: 25px;
    height: 25px;
}
#pensilForGb {
    position: relative;
    top: -160px;
    left: 390px;
}
#pensilForGb1 {
    position: relative;
    top: -160px;
    left: 475px;
}
#pensilForGb2 {
    position: relative;
    top: -160px;
    left: 560px; 
}
input {
    display: block;
}
#admin {
    width: 177px;
    height: 44px;
    position: absolute;
    left: 781.5px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}