.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home_page {
    font-size: 100px;
}

#home {
    width: 177px;
    height: 44px;
    position: absolute;
    left: 34px;
    top: 18px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
#name {
    position: absolute;
    right: 34px;
    top: 3px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#shop{
    position: absolute;
    width: 177px;
    height: 44px;
    left: 221px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#basket {
    width: 177px;
    height: 44px;
    position: absolute;
    top: 18px;
    left: 408px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#contacts{
    position: absolute;
    width: 177px;
    height: 44px;
    left: 595px;
    top: 18px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.inter{
    font-family: 'Inter', sans-serif;
}
#admin {
    position: absolute;
    top: 18px;
    left: 781.5px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}