{% extends 'base.html' %}

{% block title %}
    Cart page
{% endblock %}

{% block content %}
    {% if products %}
        {% for product in products %}
            <div class="" id="product-{{ product.id }}">
                <h1 class="money">{{ product.price }} грн</h1>
                <h1> Name - {{ product.name }}</h1>
                <p> Description - {{ product.description }} </p>
                <p> Price - {{ product.price }} </p>
                <p> Discount - {{ product.discount }}</p>
                <button class="minus" id="minus-{{ product.id }}">-</button>
                <p>{{ product.count }}</p>
                <button class="plus" id="plus-{{ product.id }}">+</button>
            </div>
            
        {% endfor %}
    {% else %}
        <h2>Корзина порожня</h2>
    {% endif %}
    <script src= "{{ url_for('cart.static', filename = 'js/workCookies.js') }}"></script>
{% endblock %}
